# Dependency directories
node_modules/

# Build outputs
dist/

# Environmment and credential files
.env
*.local
*.env.*credentials.json

# Editor caches and settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
**.sln
*.swp
